---
import Header from "@/components/layout/Header";
const { title, description, keywords, author, canonicalUrl } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://choya.tech/favicon.ico"
    />
    <title>{title}</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="author" content={author} />
    <meta name="generator" content={Astro.generator} />
    <meta name="msvalidate.01" content="B28A0B7447B96C72EF94BF486B2BA2AE" />
    <link rel="canonical" href={canonicalUrl} />

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:image" content="/BackImage.png" />
    <meta property="og:locale" content="es_ES" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/BackImage.png" />

    <!-- Schema Markup JSON-LD -->
    <script is:inline type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "ChoyaTech",
        "image": "https://choya.tech/favicon.png",
        "@id": "https://choya.tech",
        "url": "https://choya.tech",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "La Paz",
          "addressRegion": "Baja California sur",
          "postalCode": "23075",
          "addressCountry": "Mexico"
        },
        "priceRange": "$$$",
        "openingHoursSpecification": {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
          "opens": "09:00",
          "closes": "18:00"
        }
      }
    </script>
  </head>
  <body class="pt-8">
    <Header />
    <slot />
  </body>
</html>
