---
import Header from "@/components/layout/Header";
const { title, description, keywords, author, canonicalUrl } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://choya.tech/favicon.ico"
    />
    <title>{title}</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="author" content={author} />
    <meta name="generator" content={Astro.generator} />
    <meta name="msvalidate.01" content="B28A0B7447B96C72EF94BF486B2BA2AE" />
    <link rel="canonical" href={canonicalUrl} />

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:image" content="/BackImage.png" />
    <meta property="og:locale" content="es_ES" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/BackImage.png" />

    <!-- Site Map -->
    <link rel="sitemap" href="https://choya.tech/sitemap-index.xml" />

    <!-- Schema Markup JSON-LD -->
    <script is:inline type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "Choya Tech",
        "image": "https://choya.tech/favicon.png",
        "@id": "https://choya.tech",
        "url": "https://choya.tech",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "La Paz, 23075, Baja California Sur",
          "addressLocality": " La Paz",
          "addressRegion": "Baja California Sur",
          "postalCode": "23075",
          "addressCountry": "México"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": "24.157176292335304",
          "longitude": "-110.32067658244175"
        },
        "hasMap": "https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d910.1040933763386!2d-110.32131763038828!3d24.15712612230954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjTCsDA5JzI1LjciTiAxMTDCsDE5JzE0LjQiVw!5e0!3m2!1ses-419!2smx!4v1723383903875!5m2!1ses-419!2smx",
        "openingHours": "Mo, Tu, We, Th, Fr, Sa, Su 09:00-20:00",
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+526131170683",
          "contactType": "general",
          "email": "contacto@choya.tech",
          "availableLanguage": ["Spanish", "English"]
        }
      }
    </script>
  </head>
  <body class="pt-8">
    <Header />
    <slot />
  </body>
</html>
